/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
/*==================== VARIABLES====================*/
:root {

    /*========== Colors ==========*/
        --text-color : #3f3f3f;
        --button-color :#7E82FC;
        --button-light-color : #8f92ff;
    
    
    /*========== Font SIZE ==========*/
        --title-size:  4.4rem;
        --subtitle-size: 2.1rem;
        --content-size:1.4rem;
        --link-size:1.2rem;
    
    /*========== Font FACE ==========*/
    
        --body-font: 'Poppins', sans-serif;
    
    /*========== Font WEIGHT ==========*/
        --font-light : 200;
        --font-medium: 500;
        --font-bold: 700;
    
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(to right bottom, #90b6eb, #a3b3e3, #b1b1db, #bbb0d2, #c0b0c9);
    font-family: var(--body-font);
    color: var(--text-color);
}

.blur{
    height: 100vh;
    background: transparent;
    backdrop-filter: blur(33px);
    --webkit-backdrop-filter: blur(33px);
    background-color: rgba(255, 255, 255, 0.16);

}
.header{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul li{
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    font-size: var(--link-size);
    color: var(--text-color);
}
nav ul li a:hover{
    text-decoration: underline;
}
.section{
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

}
.section__contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contents__title{
    font-size: var(--title-size);
    margin-bottom: 10px;
    font-weight: var(--font-bold);
    margin-block-start: 0;
    margin-block-end: 0;
}
.contents__content{
    font-size: var(--content-size);
    margin-bottom: 20px;
    width: 450px;
    font-weight: var(--font-light);

}
.contents__subtitle{
    font-size: var(--subtitle-size);
    margin-bottom: 10px;
    font-weight: var(--font-medium);
}
.contents__cta{
    width: 120px;
    height: 45px;
    border-radius: 15px;
    background-color: var(--button-color);
    outline: none;
    box-shadow: none;
    border: none;
    color: #fff;
    transition: .3s ease;
    cursor: pointer;
}
.contents__cta:hover{
    background-color:var(--button-light-color);
}
.image{
    margin-right: -80px;
    
}
.image img{
    height: 600px;
}